.sleep {
  background: url('/assets/img/content/sleep-flowers.png') no-repeat;
  background-position: right -90px bottom 110px;
}

.sleep-slider__descr {
   background-position: right top;
   min-height: 285px;
   padding-top: 170px;

}
