.travel {
   background: url('/assets/img/content/travel-glass.png') no-repeat;
   background-position: right -90px bottom;
}


.travel-slider__descr {
   background-position: right top;
   min-height: 165px;
}