/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Fira Sans', sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 0;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$brend                    : #4af6cd;

// Width
$minwidth: 320px;
$mw: 950;
$mw1: $mw + 12;
$mw2: 991.98;
$mw3: 767.98;
$mw4: 479.98;
